<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
  <meta charset="UTF-8">
  <title>案件詳細 | 案件管理</title>
</head>
<body>
<p th:text="${project.status}">(status)</p>
<a href="../index.html" th:href="@{/}">トップページ</a>
<a href="./list.html" th:href="@{./}">案件一覧へ戻る</a>
<a href="./detail.html" th:href="@{/projects/editForm/{projectId}(projectId=${project.id})}">編集</a>
<h2 th:text="${project.title}">(title)</h2>
<p th:text="${project.detail}">(detail)</p>
</body>
</html>